<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Some Web Page</title>
    <link rel='stylesheet' href="{{ url_for('static', filename='tstyle.css') }}"/>
  </head>
  <body>
    <div class='menu-container'>
      <div class='menu'>
        <div class='date'>Aug 14, 2016</div>
	<div class='links'>
		<div class='signup'>Sign Up</div>
		<div class='login'>Login</div>
	</div>
      </div>
    </div>
    <div class='header-container'>
	  <div class='header'>
	    <div class='subscribe'>Subscribe &#9662;</div>
	    <div class='logot'><img src='static/images/awesome-logo.svg'/></div>
	    <div class='logo'><img src='https://s3.amazonaws.com/bigten.org/images/2019/3/10/2019_Big_Ten_WBB_Tournament_Bracket_After_FINAL.jpg'/></div>
	    <div class='social'><img src='static/images/social-icons.svg'/></div>
	  </div>
    </div>
    <div id='testingforms'>
	<form method="POST">
	    {{ form.hidden_tag() }}
	    {{ form.artist_1.label }} {{ form.artist_1(size=20) }}
	    <input type="submit" value="Go">
	</form>
    </div>
  </body>
</html>
